<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Login</ion-card-title>
          </ion-card-header>
        </ion-card>
        <form>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input ngModel [(ngModel)]="email" type="text" name="email" placeholder="Email "></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input ngModel [(ngModel)]="password" name="password" type="password" placeholder="Password"></ion-input>
          </ion-item>
          <ion-button expand="full" (click)="signin()">
            <span class="button__text">Log In</span>
            <em class="button__icon fas fa-chevron-right"></em>
          </ion-button>	
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
