<ion-content>
  
  <ion-card>
    <ion-img src="../../assets/images/login.png"></ion-img>
    <ion-card-header>
    
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input ngModel [(ngModel)]="email" type="text" name="email" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input ngModel [(ngModel)]="password" type="password" name="password" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="signin()" type="submit" color="danger">Login</ion-button>
        </ion-col>
    </ion-row>
        <ion-label style="margin-top:30px; font-size: 12px; "> If you don't have a account please <u>Register</u> </ion-label> 
    </ion-card-content>
  
  </ion-card>
  
</ion-content>
