
<ion-content>

  <ion-chip [routerLink]="['/start']">
    <ion-avatar>
      <img src="../../assets/images/victory.png">
    </ion-avatar>
    <ion-label>Start</ion-label>
</ion-chip>

  <ion-chip [routerLink]="['/find-places']">
      <ion-avatar>
        <img src="../../assets/images/ubicacion.png">
      </ion-avatar>
      <ion-label>Find Places</ion-label>
  </ion-chip>

  <ion-chip [routerLink]="['/profile']">
    <ion-avatar>
      <img src="../../assets/images/settings.png" >
    </ion-avatar>
    <ion-label>Profile</ion-label>
</ion-chip>

</ion-content>
