<ion-header>
  <ion-toolbar>
    <ion-title>statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div>
      <ion-card style="display: block">
        <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [type]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </ion-card>
      <ion-button expand="block" class="ion-margin" color="danger" (click)="randomize()">Update</ion-button>
    </div>
  </div>
</ion-content>
